<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to drchrono</title>
</head>
<body>
<h1>Welcome {{ doctor.first_name }}</h1>
<ul>
------------------------------------------------
</ul>
<ul>
{% for appointment in appointments %}
    <h2>Appointment --- </h2>
    {% for key, value in appointment.items %}
        {% if value != None %}
        <li>{{key}} -- {{ value }}</li>
        {% endif %}
    {% endfor %}
    <BR/>
    <BR/>
    <BR/>

{% endfor %}
</ul>
</body>
</html>
